<h2> Welcome to AccPro</h2>

<%=  link_to 'Show Balance Sheet' , accounts_show_balance_path , :id => 'show_balance' %>
<br/>
<%=  link_to 'Add New Account' , accounts_new_path %>
<br/>
Make Transaction

